.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left:0;
    align-items:center;
    justify-content: center;
    opacity:0;
    pointer-events:none;
    transition:0.5s;
}
.modal.active{
    opacity:1;
    pointer-events:all;
}
.modal_content {
    margin: 10% auto;
    height: 200px;
    width: 400px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;


}

.modal_content.active {
    transform:scale(1);

}


.modal-header h2{
    margin: 0;
}

.modal-header {
    background: #2a2164;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}


.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form {
    margin-top: 10px;
    padding: 15px;
    padding-bottom: 30px;
}


.form_input {
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    margin: 0 auto;
    display: block;
    background-color: #2a2164;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 45px;
    font-family: PT-Sans-Bold;
}


